body {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111729;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eaebf0;
    width: 30rem;
    height: 30rem;
    gap: 2rem;
    border-radius: 1rem;
}

#login-fields {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
}

.login-input {
    height: 1.8rem;
    padding: 0 0.4rem;
}

#login-button {
    cursor: pointer;
}

#footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}
#footer-form a {
    text-decoration: none;
}